{"openapi":"3.0.3","info":{"title":"Vulnerability Database API","description":"API for the Vulnerability Database","version":"1.0"},"servers":[{"url":"https://vulnerabilitydb.vulcan.com"}],"paths":{"/events":{"get":{"tags":["events"],"summary":"List finding events events","operationId":"events#List finding events","parameters":[{"name":"minScore","in":"query","description":"Minimum issues score filter","allowEmptyValue":true,"schema":{"type":"integer","description":"Minimum issues score filter","example":3360096622001025860,"format":"int64"},"example":355838974779608120},{"name":"maxScore","in":"query","description":"Maximum issues score filter","allowEmptyValue":true,"schema":{"type":"integer","description":"Maximum issues score filter","example":1614935899356580134,"format":"int64"},"example":5080668468699004107},{"name":"minDate","in":"query","description":"Minimum date filter (YYY-MM-DD)","allowEmptyValue":true,"schema":{"type":"string","description":"Minimum date filter (YYY-MM-DD)","example":"Ipsum voluptatum."},"example":"Accusamus fugit qui."},{"name":"maxDate","in":"query","description":"Maximum date filter (YYY-MM-DD)","allowEmptyValue":true,"schema":{"type":"string","description":"Maximum date filter (YYY-MM-DD)","example":"Illo quibusdam cumque dolor."},"example":"Porro velit omnis iste amet natus sit."},{"name":"page","in":"query","description":"Number of page requested","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of page requested","example":3324552253719396717,"format":"int64"},"example":5986806813928706022},{"name":"size","in":"query","description":"Number of results per page","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of results per page","example":6128599011758155422,"format":"int64"},"example":2157014259967433016}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventCollection"},"example":[{"finding_id":"97db1956-b15c-4b50-ae06-fd1e7be57963","id":"9cf0b778-08cc-49f9-8d57-fa0a560f7522","score":7,"source_id":"490eef40-b689-4bf4-bb38-c6a2d16545d1","time":"2019-06-08 11:16:40"},{"finding_id":"97db1956-b15c-4b50-ae06-fd1e7be57963","id":"9cf0b778-08cc-49f9-8d57-fa0a560f7522","score":7,"source_id":"490eef40-b689-4bf4-bb38-c6a2d16545d1","time":"2019-06-08 11:16:40"},{"finding_id":"97db1956-b15c-4b50-ae06-fd1e7be57963","id":"9cf0b778-08cc-49f9-8d57-fa0a560f7522","score":7,"source_id":"490eef40-b689-4bf4-bb38-c6a2d16545d1","time":"2019-06-08 11:16:40"},{"finding_id":"97db1956-b15c-4b50-ae06-fd1e7be57963","id":"9cf0b778-08cc-49f9-8d57-fa0a560f7522","score":7,"source_id":"490eef40-b689-4bf4-bb38-c6a2d16545d1","time":"2019-06-08 11:16:40"}]}}}}}},"/findings":{"get":{"tags":["findings"],"summary":"List findings findings","description":"This method allows to list findings by using different filters.\nWhen querying for open findings in a specific time range, it returns every finding that has been found in that time, regardless if that finding has also been fixed in that span of time.\nWhen querying for fixed findings in a specific time range, it returns every finding that has been fixed in that time and it's fixed at the end of that time range, so a finding that is fixed and then reopened in that range of time will not be returned.","operationId":"findings#List findings","parameters":[{"name":"tag","in":"query","description":"Targets tag filter","allowEmptyValue":true,"schema":{"type":"string","description":"Targets tag filter","example":"Molestiae at voluptates accusamus."},"example":"Optio repellat enim eos voluptatum esse et."},{"name":"status","in":"query","description":"Finding status filter. Can be 'OPEN' or 'FIXED'.","allowEmptyValue":true,"schema":{"type":"string","description":"Finding status filter. Can be 'OPEN' or 'FIXED'.","example":"Quis quae quae est ea et ad."},"example":"Quisquam reiciendis quia dolor corporis."},{"name":"minScore","in":"query","description":"Minimum issues score filter","allowEmptyValue":true,"schema":{"type":"integer","description":"Minimum issues score filter","example":977222862732478355,"format":"int64"},"example":595567487579622434},{"name":"maxScore","in":"query","description":"Maximum issues score filter","allowEmptyValue":true,"schema":{"type":"integer","description":"Maximum issues score filter","example":6929356274958660579,"format":"int64"},"example":796405614657449144},{"name":"atDate","in":"query","description":"Allows to get a list of findings for a specific date (YYY-MM-DD). This filter has preference over minDate and maxDate.","allowEmptyValue":true,"schema":{"type":"string","description":"Allows to get a list of findings for a specific date (YYY-MM-DD). This filter has preference over minDate and maxDate.","example":"Placeat facere voluptates voluptatem veritatis."},"example":"Soluta cum molestias doloribus ea."},{"name":"minDate","in":"query","description":"Minimum date filter (YYY-MM-DD). This filter only applies when used in conjunction with status filter.","allowEmptyValue":true,"schema":{"type":"string","description":"Minimum date filter (YYY-MM-DD). This filter only applies when used in conjunction with status filter.","example":"Repudiandae officia adipisci."},"example":"Velit officia sint."},{"name":"maxDate","in":"query","description":"Maximum date filter (YYY-MM-DD). This filter only applies when used in conjunction with status filter.","allowEmptyValue":true,"schema":{"type":"string","description":"Maximum date filter (YYY-MM-DD). This filter only applies when used in conjunction with status filter.","example":"Nam rem fugit."},"example":"Dolorum velit unde sint eveniet nobis."},{"name":"sortBy","in":"query","description":"Sorting criteria. Supported fields: score, -score (for descending order)","allowEmptyValue":true,"schema":{"type":"string","description":"Sorting criteria. Supported fields: score, -score (for descending order)","example":"Eaque quaerat ab."},"example":"Voluptatem voluptatem quam corrupti quam."},{"name":"page","in":"query","description":"Number of page requested","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of page requested","example":3954292642761844345,"format":"int64"},"example":5133827017924758047},{"name":"size","in":"query","description":"Number of results per page","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of results per page","example":2812677772936176575,"format":"int64"},"example":4743216853249427978},{"name":"identifier","in":"query","description":"Findings identifier filter","allowEmptyValue":true,"schema":{"type":"string","description":"Findings identifier filter","example":"Incidunt qui recusandae omnis quia."},"example":"Quos corporis in."},{"name":"identifiermatch","in":"query","description":"Exact match in identifier filter","allowEmptyValue":true,"schema":{"type":"boolean","description":"Exact match in identifier filter","example":false},"example":false},{"name":"identifiers","in":"query","description":"A list of asset identifiers","allowEmptyValue":true,"schema":{"type":"string","description":"A list of asset identifiers","example":"Labore eum."},"example":"Explicabo tempore dolorum nisi facilis dicta."},{"name":"labels","in":"query","description":"List of issue labels to filter by","allowEmptyValue":true,"schema":{"type":"string","description":"List of issue labels to filter by","example":"Corporis vitae ut."},"example":"Est quis eaque aut velit."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindingCollection"},"example":[{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}}]}}}}}},"/findings/{id}":{"get":{"tags":["findings"],"summary":"Get finding findings","operationId":"findings#Get finding","parameters":[{"name":"id","in":"path","description":"Finding ID","required":true,"schema":{"type":"string","description":"Finding ID","example":"Reprehenderit ut non aut odio dolorum omnis."},"example":"Soluta aspernatur aut ullam."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Finding"},"example":{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}}}}}}},"patch":{"tags":["findings"],"summary":"Patch finding findings","operationId":"findings#Patch finding","parameters":[{"name":"id","in":"path","description":"Finding ID","required":true,"schema":{"type":"string","description":"Finding ID","example":"Quasi voluptatibus."},"example":"Aut deleniti voluptas quis."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchFindingRequestBody"},"example":{"status":"OPEN"}}}},"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Finding"},"example":{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}}}}}},"security":[{"authorization_header_Authorization":[]}]}},"/findings/{id}/events":{"get":{"tags":["findings"],"summary":"List events by finding findings","operationId":"findings#List events by finding","parameters":[{"name":"page","in":"query","description":"Number of page requested","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of page requested","example":4899692310612258802,"format":"int64"},"example":4521982370138960658},{"name":"size","in":"query","description":"Number of results per page","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of results per page","example":8546609252914259573,"format":"int64"},"example":5781645183870503598},{"name":"id","in":"path","description":"Finding ID","required":true,"schema":{"type":"string","description":"Finding ID","example":"Eum amet."},"example":"Dolor pariatur voluptas."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventCollection"},"example":[{"finding_id":"97db1956-b15c-4b50-ae06-fd1e7be57963","id":"9cf0b778-08cc-49f9-8d57-fa0a560f7522","score":7,"source_id":"490eef40-b689-4bf4-bb38-c6a2d16545d1","time":"2019-06-08 11:16:40"},{"finding_id":"97db1956-b15c-4b50-ae06-fd1e7be57963","id":"9cf0b778-08cc-49f9-8d57-fa0a560f7522","score":7,"source_id":"490eef40-b689-4bf4-bb38-c6a2d16545d1","time":"2019-06-08 11:16:40"},{"finding_id":"97db1956-b15c-4b50-ae06-fd1e7be57963","id":"9cf0b778-08cc-49f9-8d57-fa0a560f7522","score":7,"source_id":"490eef40-b689-4bf4-bb38-c6a2d16545d1","time":"2019-06-08 11:16:40"},{"finding_id":"97db1956-b15c-4b50-ae06-fd1e7be57963","id":"9cf0b778-08cc-49f9-8d57-fa0a560f7522","score":7,"source_id":"490eef40-b689-4bf4-bb38-c6a2d16545d1","time":"2019-06-08 11:16:40"}]}}}}}},"/findings/{id}/mttr":{"get":{"tags":["findings"],"summary":"Get finding MTTR findings","operationId":"findings#Get finding MTTR","parameters":[{"name":"id","in":"path","description":"Finding ID","required":true,"schema":{"type":"string","description":"Finding ID","example":"Perferendis quasi aperiam."},"example":"Nemo beatae explicabo doloremque voluptatem quis."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Mttr"},"example":{"mttr":305}}}}}}},"/issues":{"get":{"tags":["issues"],"summary":"List issues issues","operationId":"issues#List issues","parameters":[{"name":"page","in":"query","description":"Number of page requested","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of page requested","example":4502356295190383509,"format":"int64"},"example":821532332781310303},{"name":"size","in":"query","description":"Number of results per page","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of results per page","example":8988461733993860420,"format":"int64"},"example":50040722988069954}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueCollection"},"example":[{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"}]}}}}}},"/issues/summary":{"get":{"tags":["issues"],"summary":"Issues summary issues","operationId":"issues#Issues summary","parameters":[{"name":"tag","in":"query","description":"Targets tag filter","allowEmptyValue":true,"schema":{"type":"string","description":"Targets tag filter","example":"Ducimus consequatur voluptatem fuga similique laborum ducimus."},"example":"Possimus inventore tempora rerum illo molestiae atque."},{"name":"status","in":"query","description":"Finding status filter. Can be 'OPEN' or 'FIXED'.","allowEmptyValue":true,"schema":{"type":"string","description":"Finding status filter. Can be 'OPEN' or 'FIXED'.","example":"Omnis et earum autem minus incidunt."},"example":"Incidunt omnis et ducimus et debitis."},{"name":"sortBy","in":"query","description":"Sorting criteria. Supported fields: score, targets_count (use - for descending order. E.g.: -score)","allowEmptyValue":true,"schema":{"type":"string","description":"Sorting criteria. Supported fields: score, targets_count (use - for descending order. E.g.: -score)","example":"Numquam harum qui quo."},"example":"Est quia possimus earum numquam ipsum."},{"name":"page","in":"query","description":"Number of page requested","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of page requested","example":2684476615553019255,"format":"int64"},"example":4181491680745596337},{"name":"size","in":"query","description":"Number of results per page","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of results per page","example":3330004145215080553,"format":"int64"},"example":8318907029323190825},{"name":"identifiers","in":"query","description":"A list of asset identifiers","allowEmptyValue":true,"schema":{"type":"string","description":"A list of asset identifiers","example":"Eum autem ab eligendi."},"example":"Tempora officiis enim."},{"name":"labels","in":"query","description":"List of labels to filter by","allowEmptyValue":true,"schema":{"type":"string","description":"List of labels to filter by","example":"Nihil eum eos dolore delectus a."},"example":"Alias est consequatur laudantium."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueSummaryCollection"},"example":[{"issue_id":"234ec73f-74c8-400f-be73-27dae8e5ff16","max_score":5,"resources_count":28,"summary":"TLS Version 1.0 Protocol Detection","targets_count":14},{"issue_id":"234ec73f-74c8-400f-be73-27dae8e5ff16","max_score":5,"resources_count":28,"summary":"TLS Version 1.0 Protocol Detection","targets_count":14},{"issue_id":"234ec73f-74c8-400f-be73-27dae8e5ff16","max_score":5,"resources_count":28,"summary":"TLS Version 1.0 Protocol Detection","targets_count":14},{"issue_id":"234ec73f-74c8-400f-be73-27dae8e5ff16","max_score":5,"resources_count":28,"summary":"TLS Version 1.0 Protocol Detection","targets_count":14}]}}}}}},"/issues/{id}":{"get":{"tags":["issues"],"summary":"Get issue issues","operationId":"issues#Get issue","parameters":[{"name":"id","in":"path","description":"Issue ID","required":true,"schema":{"type":"string","description":"Issue ID","example":"Molestias praesentium ducimus ut nesciunt."},"example":"Qui vero tempore quo odio quos doloremque."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Issue"},"example":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"}}}}}}},"/issues/{id}/findings":{"get":{"tags":["issues"],"summary":"List findings by issue issues","operationId":"issues#List findings by issue","parameters":[{"name":"status","in":"query","description":"Finding status filter. Can be 'OPEN' or 'FIXED'.","allowEmptyValue":true,"schema":{"type":"string","description":"Finding status filter. Can be 'OPEN' or 'FIXED'.","example":"Ea earum."},"example":"Voluptatem occaecati."},{"name":"sortBy","in":"query","description":"Sorting criteria. Supported fields: score, -score (for descending order)","allowEmptyValue":true,"schema":{"type":"string","description":"Sorting criteria. Supported fields: score, -score (for descending order)","example":"Officia quisquam ad dolores vel."},"example":"Ad nostrum qui aspernatur voluptatem explicabo quasi."},{"name":"page","in":"query","description":"Number of page requested","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of page requested","example":7995306226272267412,"format":"int64"},"example":4561095529007869809},{"name":"size","in":"query","description":"Number of results per page","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of results per page","example":5434415243689437556,"format":"int64"},"example":7404370949577428583},{"name":"identifiers","in":"query","description":"A list of asset identifiers","allowEmptyValue":true,"schema":{"type":"string","description":"A list of asset identifiers","example":"Eos aut enim ex ut est perferendis."},"example":"Dolor sint quo ducimus eveniet."},{"name":"labels","in":"query","description":"List of labels to filter by","allowEmptyValue":true,"schema":{"type":"string","description":"List of labels to filter by","example":"Asperiores et perspiciatis ut."},"example":"Sint sit quo voluptatem."},{"name":"id","in":"path","description":"Issue ID","required":true,"schema":{"type":"string","description":"Issue ID","example":"Id voluptatem nesciunt error dolor odit reprehenderit."},"example":"Dolor amet et ut."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindingCollection"},"example":[{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}}]}}}}}},"/issues/{id}/mttr":{"get":{"tags":["issues"],"summary":"Get issue MTTR issues","operationId":"issues#Get issue MTTR","parameters":[{"name":"id","in":"path","description":"Issue ID","required":true,"schema":{"type":"string","description":"Issue ID","example":"Unde velit quasi."},"example":"Deserunt est animi provident non dolor."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"type":"number","example":0.52008456,"format":"float"},"example":0.56235737}}}}}},"/issues/{issue_id}/targets/{target_id}/resources/{resource}":{"get":{"tags":["issues"],"summary":"Get finding by issue, target and affected resource issues","operationId":"issues#Get finding by issue, target and affected resource","parameters":[{"name":"issue_id","in":"path","description":"Issue ID","required":true,"schema":{"type":"string","description":"Issue ID","example":"Saepe et cupiditate non."},"example":"Qui mollitia ad ut ipsa corrupti eius."},{"name":"target_id","in":"path","description":"Target ID","required":true,"schema":{"type":"string","description":"Target ID","example":"Tempora autem ut porro esse."},"example":"Exercitationem consequatur rerum minima quas commodi quasi."},{"name":"resource","in":"path","description":"Resource identifier","required":true,"schema":{"type":"string","description":"Resource identifier","example":"Ut atque."},"example":"Vero velit quaerat quo dicta voluptas."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Finding"},"example":{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}}}}}}}},"/labels":{"get":{"tags":["labels"],"summary":"List labels labels","operationId":"labels#List labels","parameters":[{"name":"tag","in":"query","description":"Tag of associated targets","allowEmptyValue":true,"schema":{"type":"string","description":"Tag of associated targets","example":"Corrupti facere et architecto deleniti."},"example":"Dolores aperiam ut."},{"name":"status","in":"query","description":"Status of associated findings","allowEmptyValue":true,"schema":{"type":"string","description":"Status of associated findings","example":"Iusto commodi commodi at sapiente animi dolores."},"example":"Molestias reprehenderit ea sunt reprehenderit nemo."},{"name":"atDate","in":"query","description":"Allows to get the list of associated findings for a specific date (YYY-MM-DD). This filter has preference over minDate and maxDate.","allowEmptyValue":true,"schema":{"type":"string","description":"Allows to get the list of associated findings for a specific date (YYY-MM-DD). This filter has preference over minDate and maxDate.","example":"Atque odio ipsam est perspiciatis."},"example":"Adipisci rerum earum dolores ut."},{"name":"minDate","in":"query","description":"Minimum date filter for associated findings (YYY-MM-DD). This filter only applies when used in conjunction with status filter.","allowEmptyValue":true,"schema":{"type":"string","description":"Minimum date filter for associated findings (YYY-MM-DD). This filter only applies when used in conjunction with status filter.","example":"Natus consequatur voluptas culpa eum."},"example":"Eaque eos nihil."},{"name":"maxDate","in":"query","description":"Maximum date filter for associated findings (YYY-MM-DD). This filter only applies when used in conjunction with status filter.","allowEmptyValue":true,"schema":{"type":"string","description":"Maximum date filter for associated findings (YYY-MM-DD). This filter only applies when used in conjunction with status filter.","example":"Quaerat et placeat quae."},"example":"Soluta reprehenderit impedit error odio sunt ut."},{"name":"identifiers","in":"query","description":"A list of asset identifiers to filter by for associated targets","allowEmptyValue":true,"schema":{"type":"string","description":"A list of asset identifiers to filter by for associated targets","example":"Minus repellat est ut iure."},"example":"Molestiae doloremque."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Labels"},"example":{"labels":["Web","HTTP","TLS"]}}}}}}},"/sources":{"get":{"tags":["sources"],"summary":"List sources sources","operationId":"sources#List sources","parameters":[{"name":"page","in":"query","description":"Number of page requested","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of page requested","example":4094373485487189010,"format":"int64"},"example":5380516567400390768},{"name":"size","in":"query","description":"Number of results per page","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of results per page","example":8222056356488407934,"format":"int64"},"example":6979530151777249718}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceCollection"},"example":[{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","target_id":"Consequuntur veniam.","time":"2019-06-08 11:16:40"},{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","target_id":"Consequuntur veniam.","time":"2019-06-08 11:16:40"}]}}}}}},"/sources/{id}":{"get":{"tags":["sources"],"summary":"Get source sources","operationId":"sources#Get source","parameters":[{"name":"id","in":"path","description":"Source ID","required":true,"schema":{"type":"string","description":"Source ID","example":"Non sit quia sint."},"example":"Sint repellendus."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Source"},"example":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","target_id":"Voluptas earum laboriosam.","time":"2019-06-08 11:16:40"}}}}}}},"/sources/{id}/findings":{"get":{"tags":["sources"],"summary":"List findings by source sources","operationId":"sources#List findings by source","parameters":[{"name":"status","in":"query","description":"Finding status filter. Can be 'OPEN' or 'FIXED'.","allowEmptyValue":true,"schema":{"type":"string","description":"Finding status filter. Can be 'OPEN' or 'FIXED'.","example":"Velit et consequatur officia nihil debitis quo."},"example":"Facilis dolores aut sunt a."},{"name":"sortBy","in":"query","description":"Sorting criteria. Supported fields: score, -score (for descending order)","allowEmptyValue":true,"schema":{"type":"string","description":"Sorting criteria. Supported fields: score, -score (for descending order)","example":"Deserunt sit amet."},"example":"Voluptatum ut et repellat aliquid fugit ad."},{"name":"page","in":"query","description":"Number of page requested","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of page requested","example":6169813847775708207,"format":"int64"},"example":7579080227598505006},{"name":"size","in":"query","description":"Number of results per page","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of results per page","example":8964029917847176585,"format":"int64"},"example":7934970763764957995},{"name":"id","in":"path","description":"Source ID","required":true,"schema":{"type":"string","description":"Source ID","example":"Nihil rerum aut maxime ullam repudiandae natus."},"example":"At id sed enim corrupti."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindingCollection"},"example":[{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}}]}}}}}},"/sources/{id}/mttr":{"get":{"tags":["sources"],"summary":"Get source MTTR sources","operationId":"sources#Get source MTTR","parameters":[{"name":"id","in":"path","description":"Source ID","required":true,"schema":{"type":"string","description":"Source ID","example":"Tenetur dolores."},"example":"Delectus itaque quasi explicabo."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"type":"number","example":0.31628352,"format":"float"},"example":0.6014624}}}}}},"/stats/exposure":{"get":{"tags":["stats"],"summary":"Get stats exposure stats","operationId":"stats#Get stats exposure","parameters":[{"name":"tag","in":"query","description":"Target's tag filter","allowEmptyValue":true,"schema":{"type":"string","description":"Target's tag filter","example":"Quo fugit quos."},"example":"Quia illo."},{"name":"atDate","in":"query","description":"Allows to get stats at a specific date (YYY-MM-DD)","allowEmptyValue":true,"schema":{"type":"string","description":"Allows to get stats at a specific date (YYY-MM-DD)","example":"Facere quia dolor."},"example":"Quas nam dolorem sunt necessitatibus numquam aut."},{"name":"minScore","in":"query","description":"Minimum issues score filter","allowEmptyValue":true,"schema":{"type":"integer","description":"Minimum issues score filter","example":1396686146028046689,"format":"int64"},"example":5632741418978663494},{"name":"maxScore","in":"query","description":"Maximum issues score filter","allowEmptyValue":true,"schema":{"type":"integer","description":"Maximum issues score filter","example":989680388132904663,"format":"int64"},"example":4816450964236605390}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Exposure"},"example":{"mean":0.6576921,"percentile_10":0.9820335,"percentile_25":0.5965868,"percentile_50":0.64732856,"percentile_75":0.8767213,"percentile_90":0.9330695}}}}}}},"/stats/fixed":{"get":{"tags":["stats"],"summary":"Get fixed issues stats stats","description":"This method gets statistics for fixed findings by using different filters.\nWhen querying for a specific time range, it returns every finding that has been fixed in that time and it's fixed at the end of the time range specified, so a finding that is fixed and then reopened in that range of time will not be counted.","operationId":"stats#Get fixed issues stats","parameters":[{"name":"tag","in":"query","description":"Target's tag filter","allowEmptyValue":true,"schema":{"type":"string","description":"Target's tag filter","example":"Minima doloribus."},"example":"Ut porro."},{"name":"minDate","in":"query","description":"Minimum date filter (YYY-MM-DD)","allowEmptyValue":true,"schema":{"type":"string","description":"Minimum date filter (YYY-MM-DD)","example":"Placeat accusamus iusto aspernatur rerum dolore quisquam."},"example":"Reprehenderit deleniti quia."},{"name":"maxDate","in":"query","description":"Maximum date filter (YYY-MM-DD)","allowEmptyValue":true,"schema":{"type":"string","description":"Maximum date filter (YYY-MM-DD)","example":"Qui aut voluptatibus excepturi ut."},"example":"Animi et ut qui similique nemo."},{"name":"atDate","in":"query","description":"Allows to get stats for fixed findings at a specific date (YYY-MM-DD). This filter has preference over minDate and maxDate.","allowEmptyValue":true,"schema":{"type":"string","description":"Allows to get stats for fixed findings at a specific date (YYY-MM-DD). This filter has preference over minDate and maxDate.","example":"Asperiores aspernatur commodi."},"example":"Qui soluta ut molestiae harum tenetur."},{"name":"identifiers","in":"query","description":"A comma separated list of asset identifiers","allowEmptyValue":true,"schema":{"type":"string","description":"A comma separated list of asset identifiers","example":"Aliquam earum dolorum sit ipsa nihil."},"example":"Vero voluptates et quos est vero reprehenderit."},{"name":"labels","in":"query","description":"A comma separated list of associated labels","allowEmptyValue":true,"schema":{"type":"string","description":"A comma separated list of associated labels","example":"In magnam necessitatibus."},"example":"Rerum neque alias."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Severity"},"example":{"critical":2675288203878151451,"high":223400334070180172,"informational":5479921444577369098,"low":1651328171339960592,"medium":6156126115486325474}}}}}}},"/stats/issues":{"get":{"tags":["stats"],"summary":"Get issues stats stats","operationId":"stats#Get issues stats","parameters":[{"name":"minDate","in":"query","description":"Minimum date filter (YYY-MM-DD)","allowEmptyValue":true,"schema":{"type":"string","description":"Minimum date filter (YYY-MM-DD)","example":"Praesentium ut ad natus iusto ducimus suscipit."},"example":"Quasi eveniet dolorem."},{"name":"maxDate","in":"query","description":"Maximum date filter (YYY-MM-DD)","allowEmptyValue":true,"schema":{"type":"string","description":"Maximum date filter (YYY-MM-DD)","example":"Reprehenderit eos et."},"example":"Ex eveniet a corrupti beatae ullam."},{"name":"minScore","in":"query","description":"Minimum issues score filter","allowEmptyValue":true,"schema":{"type":"integer","description":"Minimum issues score filter","example":425485945796897277,"format":"int64"},"example":2802762387189910664},{"name":"maxScore","in":"query","description":"Maximum issues score filter","allowEmptyValue":true,"schema":{"type":"integer","description":"Maximum issues score filter","example":1287179382248988625,"format":"int64"},"example":5734992954774312647}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueStatsCollection"},"example":[{"cwe_id":1092913069227277845,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","fixed":3,"id":"234ec73f-74c8-400f-be73-27dae8e5ff16","open":1,"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},{"cwe_id":1092913069227277845,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","fixed":3,"id":"234ec73f-74c8-400f-be73-27dae8e5ff16","open":1,"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"}]}}}}}},"/stats/mttr":{"get":{"tags":["stats"],"summary":"Get stats MTTR stats","operationId":"stats#Get stats MTTR","parameters":[{"name":"tag","in":"query","description":"Target's tag filter","allowEmptyValue":true,"schema":{"type":"string","description":"Target's tag filter","example":"Voluptatem natus consequuntur minima illo fuga."},"example":"Laboriosam voluptatem commodi labore iste necessitatibus ut."},{"name":"minDate","in":"query","description":"Minimum date filter (YYY-MM-DD)","allowEmptyValue":true,"schema":{"type":"string","description":"Minimum date filter (YYY-MM-DD)","example":"Sed sint odit molestias cumque."},"example":"Ut animi expedita."},{"name":"maxDate","in":"query","description":"Maximum date filter (YYY-MM-DD)","allowEmptyValue":true,"schema":{"type":"string","description":"Maximum date filter (YYY-MM-DD)","example":"Corporis omnis delectus."},"example":"Iure inventore explicabo dolorum molestias."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Severity"},"example":{"critical":8619551339247722728,"high":7830955280873127056,"informational":2907987811377824896,"low":3125778721672262496,"medium":1066780224254076187}}}}}}},"/stats/open":{"get":{"tags":["stats"],"summary":"Get open issues stats stats","description":"This method gets statistics for open findings by using different filters.\nWhen querying for a specific time range, it returns every finding that has been found in that time, regardless if that finding has also been fixed in that span of time.","operationId":"stats#Get open issues stats","parameters":[{"name":"tag","in":"query","description":"Target's tag filter","allowEmptyValue":true,"schema":{"type":"string","description":"Target's tag filter","example":"Repudiandae est nihil quis."},"example":"Ad et ex accusantium eaque."},{"name":"minDate","in":"query","description":"Minimum date filter (YYY-MM-DD)","allowEmptyValue":true,"schema":{"type":"string","description":"Minimum date filter (YYY-MM-DD)","example":"Eveniet quia."},"example":"Magni aut dolorum dolores."},{"name":"maxDate","in":"query","description":"Maximum date filter (YYY-MM-DD)","allowEmptyValue":true,"schema":{"type":"string","description":"Maximum date filter (YYY-MM-DD)","example":"Non consequatur adipisci eum."},"example":"Aliquid possimus non aut."},{"name":"atDate","in":"query","description":"Allows to get stats for open findings at a specific date (YYY-MM-DD). This filter has preference over minDate and maxDate.","allowEmptyValue":true,"schema":{"type":"string","description":"Allows to get stats for open findings at a specific date (YYY-MM-DD). This filter has preference over minDate and maxDate.","example":"Omnis inventore error et est autem."},"example":"Et officiis."},{"name":"identifiers","in":"query","description":"A comma separated list of asset identifiers","allowEmptyValue":true,"schema":{"type":"string","description":"A comma separated list of asset identifiers","example":"Enim praesentium corporis."},"example":"Officia deserunt fuga."},{"name":"labels","in":"query","description":"A comma separated list of associated labels","allowEmptyValue":true,"schema":{"type":"string","description":"A comma separated list of associated labels","example":"Officiis nobis."},"example":"Et earum ad eos eius asperiores."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Severity"},"example":{"critical":2615216803934210996,"high":2514681863203349240,"informational":3941938844913984946,"low":1064693259099015916,"medium":5392709263805215660}}}}}}},"/stats/size":{"get":{"tags":["stats"],"summary":"Get size stats stats","operationId":"stats#Get size stats","responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Size"},"example":{"finding_events":7503970367900769053,"findings":2273972773567927691,"issues":6379911286678898248,"sources":7304945225842884283,"targets":4633556393239731794}}}}}}},"/targets":{"get":{"tags":["targets"],"summary":"List targets targets","operationId":"targets#List targets","parameters":[{"name":"tag","in":"query","description":"Targets tag filter","allowEmptyValue":true,"schema":{"type":"string","description":"Targets tag filter","example":"Libero quia nam sit."},"example":"Consequatur sed dolorem alias ut a."},{"name":"identifier","in":"query","description":"Targets identifier filter","allowEmptyValue":true,"schema":{"type":"string","description":"Targets identifier filter","example":"Inventore optio et."},"example":"Omnis enim dolore possimus."},{"name":"page","in":"query","description":"Number of page requested","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of page requested","example":3308274164337070143,"format":"int64"},"example":2991765709084620381},{"name":"size","in":"query","description":"Number of results per page","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of results per page","example":8918699476978729949,"format":"int64"},"example":7869649735462660922},{"name":"identifiermatch","in":"query","description":"Exact match in identifier filter","allowEmptyValue":true,"schema":{"type":"boolean","description":"Exact match in identifier filter","example":true},"example":false},{"name":"identifiers","in":"query","description":"A list of asset identifiers","allowEmptyValue":true,"schema":{"type":"string","description":"A list of asset identifiers","example":"Voluptas quaerat sint et."},"example":"Totam quae nihil enim molestiae aspernatur qui."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetCollection"},"example":[{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]},{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}]}}}}},"post":{"tags":["targets"],"summary":"Create target targets","operationId":"targets#Create target","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTargetRequestBody"},"example":{"identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}}}},"responses":{"201":{"description":"Created response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Target"},"example":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}}}}}}},"/targets/summary":{"get":{"tags":["targets"],"summary":"Targets summary targets","operationId":"targets#Targets summary","parameters":[{"name":"tag","in":"query","description":"Targets tag filter","allowEmptyValue":true,"schema":{"type":"string","description":"Targets tag filter","example":"Ipsum illo exercitationem."},"example":"Rem consectetur odit."},{"name":"status","in":"query","description":"Finding status filter. Can be 'OPEN' or 'FIXED'.","allowEmptyValue":true,"schema":{"type":"string","description":"Finding status filter. Can be 'OPEN' or 'FIXED'.","example":"Quidem aut aut."},"example":"Beatae accusamus accusamus ipsa vero."},{"name":"sortBy","in":"query","description":"Sorting criteria. Supported fields: score, findings_count (use - for descending order. E.g.: -score)","allowEmptyValue":true,"schema":{"type":"string","description":"Sorting criteria. Supported fields: score, findings_count (use - for descending order. E.g.: -score)","example":"Perferendis eveniet voluptatum officiis natus sunt quas."},"example":"Aliquid cumque quos."},{"name":"page","in":"query","description":"Number of page requested","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of page requested","example":2809871182108974233,"format":"int64"},"example":8405325989519967941},{"name":"size","in":"query","description":"Number of results per page","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of results per page","example":2708787110613172974,"format":"int64"},"example":7707075980187891462},{"name":"identifiers","in":"query","description":"A list of asset identifiers","allowEmptyValue":true,"schema":{"type":"string","description":"A list of asset identifiers","example":"Iure omnis esse."},"example":"Eos ipsa."},{"name":"labels","in":"query","description":"List of associated issues labels to filter by","allowEmptyValue":true,"schema":{"type":"string","description":"List of associated issues labels to filter by","example":"Dignissimos ratione vel."},"example":"Sunt in quia explicabo pariatur aliquid officiis."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetSummaryCollection"},"example":[{"findings_count":14,"identifier":"www.example.com","issues_count":10,"max_score":5,"target_id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a"},{"findings_count":14,"identifier":"www.example.com","issues_count":10,"max_score":5,"target_id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a"}]}}}}}},"/targets/tags/{tag}":{"delete":{"tags":["targets"],"summary":"Delete tag targets","operationId":"targets#Delete tag","parameters":[{"name":"tag","in":"path","description":"Tag","required":true,"schema":{"type":"string","description":"Tag","example":"Aspernatur amet."},"example":"Non quidem dignissimos rerum."}],"responses":{"204":{"description":"No Content response."}}}},"/targets/{id}":{"get":{"tags":["targets"],"summary":"Get target targets","operationId":"targets#Get target","parameters":[{"name":"id","in":"path","description":"Target ID","required":true,"schema":{"type":"string","description":"Target ID","example":"Modi pariatur aliquid."},"example":"Et saepe."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Target"},"example":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}}}}}}},"/targets/{id}/findings":{"get":{"tags":["targets"],"summary":"List findings by target targets","operationId":"targets#List findings by target","parameters":[{"name":"status","in":"query","description":"Finding status filter. Can be 'OPEN' or 'FIXED'.","allowEmptyValue":true,"schema":{"type":"string","description":"Finding status filter. Can be 'OPEN' or 'FIXED'.","example":"Fuga perspiciatis ab quia occaecati laborum."},"example":"Inventore expedita accusantium fugiat facere."},{"name":"sortBy","in":"query","description":"Sorting criteria. Supported fields: score, -score (for descending order)","allowEmptyValue":true,"schema":{"type":"string","description":"Sorting criteria. Supported fields: score, -score (for descending order)","example":"Autem quaerat non adipisci facilis est maxime."},"example":"Illo libero adipisci ducimus nihil quae."},{"name":"page","in":"query","description":"Number of page requested","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of page requested","example":6126476177469736670,"format":"int64"},"example":8559015167326593398},{"name":"size","in":"query","description":"Number of results per page","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of results per page","example":3259009478474811175,"format":"int64"},"example":4109642863314930727},{"name":"labels","in":"query","description":"List of labels to filter by","allowEmptyValue":true,"schema":{"type":"string","description":"List of labels to filter by","example":"Eos sed."},"example":"Ad reprehenderit rerum aut quia magnam adipisci."},{"name":"id","in":"path","description":"Target ID","required":true,"schema":{"type":"string","description":"Target ID","example":"Laboriosam est tempora necessitatibus eum qui sed."},"example":"Voluptas nam in est."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindingCollection"},"example":[{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}}]}}}}}},"/targets/{id}/mttr":{"get":{"tags":["targets"],"summary":"Get target MTTR targets","operationId":"targets#Get target MTTR","parameters":[{"name":"id","in":"path","description":"Target ID","required":true,"schema":{"type":"string","description":"Target ID","example":"Sunt qui."},"example":"Inventore voluptates placeat."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"type":"number","example":0.8811578,"format":"float"},"example":0.823972}}}}}},"/targets/{target_id}/issues/{issue_id}/resources/{resource}":{"get":{"tags":["targets"],"summary":"Get finding by target, issue and affected resource targets","operationId":"targets#Get finding by target, issue and affected resource","parameters":[{"name":"target_id","in":"path","description":"Target ID","required":true,"schema":{"type":"string","description":"Target ID","example":"Est et aut."},"example":"Magnam dolor rerum quia quas natus aspernatur."},{"name":"issue_id","in":"path","description":"Issue ID","required":true,"schema":{"type":"string","description":"Issue ID","example":"Dolor quaerat quo consequatur."},"example":"Nemo doloremque quia."},{"name":"resource","in":"path","description":"Resource identifier","required":true,"schema":{"type":"string","description":"Resource identifier","example":"Voluptates ut."},"example":"Architecto dolorem veniam."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Finding"},"example":{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}}}}}}}},"/targets/{target_id}/tags/{tag}":{"delete":{"tags":["targets"],"summary":"Delete target tag targets","operationId":"targets#Delete target tag","parameters":[{"name":"target_id","in":"path","description":"Target ID","required":true,"schema":{"type":"string","description":"Target ID","example":"Fuga molestiae in porro voluptatem."},"example":"Expedita aspernatur ea et ad."},{"name":"tag","in":"path","description":"Tag","required":true,"schema":{"type":"string","description":"Tag","example":"Libero recusandae."},"example":"Explicabo natus corporis voluptates totam."}],"responses":{"204":{"description":"No Content response."}}}}},"components":{"schemas":{"CreateTargetRequestBody":{"type":"object","properties":{"identifier":{"type":"string","description":"Target Identifier","example":"www.example.com"},"tags":{"type":"array","items":{"type":"string","example":"Magni iusto aliquid facere incidunt."},"description":"Target Tags","example":["sdrn:adevinta:team:security"]}},"example":{"identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},"Event":{"type":"object","properties":{"finding_id":{"type":"string","description":"Finding ID","example":"97db1956-b15c-4b50-ae06-fd1e7be57963"},"id":{"type":"string","description":"Finding event ID","example":"9cf0b778-08cc-49f9-8d57-fa0a560f7522"},"score":{"type":"number","description":"Finding severity score","example":7,"format":"float"},"source_id":{"type":"string","description":"Source ID","example":"490eef40-b689-4bf4-bb38-c6a2d16545d1"},"time":{"type":"string","description":"Event time","example":"2019-06-08 11:16:40"}},"example":{"finding_id":"97db1956-b15c-4b50-ae06-fd1e7be57963","id":"9cf0b778-08cc-49f9-8d57-fa0a560f7522","score":7,"source_id":"490eef40-b689-4bf4-bb38-c6a2d16545d1","time":"2019-06-08 11:16:40"}},"EventCollection":{"type":"array","items":{"$ref":"#/components/schemas/Event"},"example":[{"finding_id":"97db1956-b15c-4b50-ae06-fd1e7be57963","id":"9cf0b778-08cc-49f9-8d57-fa0a560f7522","score":7,"source_id":"490eef40-b689-4bf4-bb38-c6a2d16545d1","time":"2019-06-08 11:16:40"},{"finding_id":"97db1956-b15c-4b50-ae06-fd1e7be57963","id":"9cf0b778-08cc-49f9-8d57-fa0a560f7522","score":7,"source_id":"490eef40-b689-4bf4-bb38-c6a2d16545d1","time":"2019-06-08 11:16:40"},{"finding_id":"97db1956-b15c-4b50-ae06-fd1e7be57963","id":"9cf0b778-08cc-49f9-8d57-fa0a560f7522","score":7,"source_id":"490eef40-b689-4bf4-bb38-c6a2d16545d1","time":"2019-06-08 11:16:40"}]},"Exposure":{"type":"object","properties":{"mean":{"type":"number","description":"Mean exposure","example":0.0017000929,"format":"float"},"percentile_10":{"type":"number","description":"Percentile 10 of exposure","example":0.042889617,"format":"float"},"percentile_25":{"type":"number","description":"Percentile 25 of exposure or first quartile","example":0.31601247,"format":"float"},"percentile_50":{"type":"number","description":"Percentile 50 of exposure or median","example":0.97426087,"format":"float"},"percentile_75":{"type":"number","description":"Percentile 75 of exposure or third quartile","example":0.5328149,"format":"float"},"percentile_90":{"type":"number","description":"Percentile 90 of exposure","example":0.847257,"format":"float"}},"example":{"mean":0.52007186,"percentile_10":0.7937411,"percentile_25":0.9130958,"percentile_50":0.021809133,"percentile_75":0.39894477,"percentile_90":0.10781263}},"Finding":{"type":"object","properties":{"details":{"type":"string","description":"Finding details","example":"TLSv1 is enabled and the server supports at least one cipher"},"id":{"type":"string","description":"Finding ID","example":"97db1956-b15c-4b50-ae06-fd1e7be57963"},"impact_details":{"type":"string","description":"Finding impact details","example":"The remote service encrypts traffic using an older version of TLS."},"issue":{"$ref":"#/components/schemas/Issue"},"resources":{"type":"array","items":{"$ref":"#/components/schemas/ResourceGroup"},"description":"Other resources associated with the finding","example":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}]},"score":{"type":"number","description":"Finding severity score","example":7,"format":"float"},"source":{"$ref":"#/components/schemas/Sourcewithnotarget"},"status":{"type":"string","description":"Finding status. Can be 'OPEN' or 'FIXED'.","example":"OPEN"},"target":{"$ref":"#/components/schemas/Target"}},"example":{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}}},"FindingCollection":{"type":"array","items":{"$ref":"#/components/schemas/Finding"},"example":[{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","labels":["Web,TLS"],"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}}]},"Issue":{"type":"object","properties":{"cwe_id":{"type":"integer","description":"Common Weakness Enumeration ID","example":216,"format":"int64"},"description":{"type":"string","description":"Issue description","example":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits."},"id":{"type":"string","description":"Issue ID","example":"234ec73f-74c8-400f-be73-27dae8e5ff16"},"labels":{"type":"array","items":{"type":"string","example":"Id laboriosam excepturi qui iste et."},"description":"Labels associated with the issue","example":["Web,TLS"]},"recommendations":{"type":"array","items":{"type":"string","example":"Unde pariatur ratione optio quia adipisci."},"description":"Recommendations to fix the issue","example":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."]},"reference_links":{"type":"array","items":{"type":"string","example":"Quidem quo repellendus quos nemo ea."},"description":"Documentation reference for the issue","example":["http://www.example.com"]},"summary":{"type":"string","description":"Issue summary","example":"TLS Version 1.0 Protocol Detection"}},"example":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.",
[...]
