{"swagger":"2.0","info":{"title":"Vulnerability Database API","description":"API for the Vulnerability Database","version":""},"host":"vulnerabilitydb.vulcan.com","consumes":["application/json","application/xml","application/gob"],"produces":["application/json","application/xml","application/gob"],"paths":{"/events":{"get":{"tags":["events"],"summary":"List finding events events","operationId":"events#List finding events","parameters":[{"name":"minScore","in":"query","description":"Minimum issues score filter","required":false,"type":"integer"},{"name":"maxScore","in":"query","description":"Maximum issues score filter","required":false,"type":"integer"},{"name":"minDate","in":"query","description":"Minimum date filter (YYY-MM-DD)","required":false,"type":"string"},{"name":"maxDate","in":"query","description":"Maximum date filter (YYY-MM-DD)","required":false,"type":"string"},{"name":"page","in":"query","description":"Number of page requested","required":false,"type":"integer"},{"name":"size","in":"query","description":"Number of results per page","required":false,"type":"integer"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/EventsEventResponseCollection"}}},"schemes":["https"]}},"/findings":{"get":{"tags":["findings"],"summary":"List findings findings","description":"This method allows to list findings by using different filters.\nWhen querying for open findings in a specific time range, it returns every finding that has been found in that time, regardless if that finding has also been fixed in that span of time.\nWhen querying for fixed findings in a specific time range, it returns every finding that has been fixed in that time and it's fixed at the end of that time range, so a finding that is fixed and then reopened in that range of time will not be returned.","operationId":"findings#List findings","parameters":[{"name":"tag","in":"query","description":"Targets tag filter","required":false,"type":"string"},{"name":"status","in":"query","description":"Finding status filter. Can be 'OPEN' or 'FIXED'.","required":false,"type":"string"},{"name":"minScore","in":"query","description":"Minimum issues score filter","required":false,"type":"integer"},{"name":"maxScore","in":"query","description":"Maximum issues score filter","required":false,"type":"integer"},{"name":"atDate","in":"query","description":"Allows to get a list of findings for a specific date (YYY-MM-DD). This filter has preference over minDate and maxDate.","required":false,"type":"string"},{"name":"minDate","in":"query","description":"Minimum date filter (YYY-MM-DD). This filter only applies when used in conjunction with status filter.","required":false,"type":"string"},{"name":"maxDate","in":"query","description":"Maximum date filter (YYY-MM-DD). This filter only applies when used in conjunction with status filter.","required":false,"type":"string"},{"name":"sortBy","in":"query","description":"Sorting criteria. Supported fields: score, -score (for descending order)","required":false,"type":"string"},{"name":"page","in":"query","description":"Number of page requested","required":false,"type":"integer"},{"name":"size","in":"query","description":"Number of results per page","required":false,"type":"integer"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/FindingsFindingResponseCollection"}}},"schemes":["https"]}},"/findings/{id}":{"get":{"tags":["findings"],"summary":"Get finding findings","operationId":"findings#Get finding","parameters":[{"name":"id","in":"path","description":"Finding ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/FindingsGetFindingResponseBody"}}},"schemes":["https"]}},"/findings/{id}/events":{"get":{"tags":["findings"],"summary":"List events by finding findings","operationId":"findings#List events by finding","parameters":[{"name":"page","in":"query","description":"Number of page requested","required":false,"type":"integer"},{"name":"size","in":"query","description":"Number of results per page","required":false,"type":"integer"},{"name":"id","in":"path","description":"Finding ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/FindingsEventResponseCollection"}}},"schemes":["https"]}},"/findings/{id}/mttr":{"get":{"tags":["findings"],"summary":"Get finding MTTR findings","operationId":"findings#Get finding MTTR","parameters":[{"name":"id","in":"path","description":"Finding ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/FindingsGetFindingMTTRResponseBody"}}},"schemes":["https"]}},"/issues":{"get":{"tags":["issues"],"summary":"List issues issues","operationId":"issues#List issues","parameters":[{"name":"page","in":"query","description":"Number of page requested","required":false,"type":"integer"},{"name":"size","in":"query","description":"Number of results per page","required":false,"type":"integer"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/IssuesIssueResponseCollection"}}},"schemes":["https"]}},"/issues/summary":{"get":{"tags":["issues"],"summary":"Issues summary issues","operationId":"issues#Issues summary","parameters":[{"name":"tag","in":"query","description":"Targets tag filter","required":false,"type":"string"},{"name":"status","in":"query","description":"Finding status filter. Can be 'OPEN' or 'FIXED'.","required":false,"type":"string"},{"name":"sortBy","in":"query","description":"Sorting criteria. Supported fields: score, targets_count (use - for descending order. E.g.: -score)","required":false,"type":"string"},{"name":"page","in":"query","description":"Number of page requested","required":false,"type":"integer"},{"name":"size","in":"query","description":"Number of results per page","required":false,"type":"integer"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/IssuesIssueSummaryResponseCollection"}}},"schemes":["https"]}},"/issues/{id}":{"get":{"tags":["issues"],"summary":"Get issue issues","operationId":"issues#Get issue","parameters":[{"name":"id","in":"path","description":"Issue ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/IssuesGetIssueResponseBody"}}},"schemes":["https"]}},"/issues/{id}/findings":{"get":{"tags":["issues"],"summary":"List findings by issue issues","operationId":"issues#List findings by issue","parameters":[{"name":"status","in":"query","description":"Finding status filter. Can be 'OPEN' or 'FIXED'.","required":false,"type":"string"},{"name":"sortBy","in":"query","description":"Sorting criteria. Supported fields: score, -score (for descending order)","required":false,"type":"string"},{"name":"page","in":"query","description":"Number of page requested","required":false,"type":"integer"},{"name":"size","in":"query","description":"Number of results per page","required":false,"type":"integer"},{"name":"id","in":"path","description":"Issue ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/IssuesFindingResponseCollection"}}},"schemes":["https"]}},"/issues/{id}/mttr":{"get":{"tags":["issues"],"summary":"Get issue MTTR issues","operationId":"issues#Get issue MTTR","parameters":[{"name":"id","in":"path","description":"Issue ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK response.","schema":{"type":"number","format":"float"}}},"schemes":["https"]}},"/issues/{issue_id}/targets/{target_id}":{"get":{"tags":["issues"],"summary":"List findings by issue and target issues","operationId":"issues#List findings by issue and target","parameters":[{"name":"issue_id","in":"path","description":"Issue ID","required":true,"type":"string"},{"name":"target_id","in":"path","description":"Target ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/IssuesListFindingsByIssueAndTargetResponseBody"}}},"schemes":["https"]}},"/sources":{"get":{"tags":["sources"],"summary":"List sources sources","operationId":"sources#List sources","parameters":[{"name":"page","in":"query","description":"Number of page requested","required":false,"type":"integer"},{"name":"size","in":"query","description":"Number of results per page","required":false,"type":"integer"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/SourcesSourceResponseCollection"}}},"schemes":["https"]}},"/sources/{id}":{"get":{"tags":["sources"],"summary":"Get source sources","operationId":"sources#Get source","parameters":[{"name":"id","in":"path","description":"Source ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/SourcesGetSourceResponseBody"}}},"schemes":["https"]}},"/sources/{id}/findings":{"get":{"tags":["sources"],"summary":"List findings by source sources","operationId":"sources#List findings by source","parameters":[{"name":"status","in":"query","description":"Finding status filter. Can be 'OPEN' or 'FIXED'.","required":false,"type":"string"},{"name":"sortBy","in":"query","description":"Sorting criteria. Supported fields: score, -score (for descending order)","required":false,"type":"string"},{"name":"page","in":"query","description":"Number of page requested","required":false,"type":"integer"},{"name":"size","in":"query","description":"Number of results per page","required":false,"type":"integer"},{"name":"id","in":"path","description":"Source ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/SourcesFindingResponseCollection"}}},"schemes":["https"]}},"/sources/{id}/mttr":{"get":{"tags":["sources"],"summary":"Get source MTTR sources","operationId":"sources#Get source MTTR","parameters":[{"name":"id","in":"path","description":"Source ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK response.","schema":{"type":"number","format":"float"}}},"schemes":["https"]}},"/stats/fixed":{"get":{"tags":["stats"],"summary":"Get fixed issues stats stats","description":"This method gets statistics for fixed findings by using different filters.\nWhen querying for a specific time range, it returns every finding that has been fixed in that time and it's fixed at the end of the time range specified, so a finding that is fixed and then reopened in that range of time will not be counted.","operationId":"stats#Get fixed issues stats","parameters":[{"name":"tag","in":"query","description":"Target's tag filter","required":false,"type":"string"},{"name":"minDate","in":"query","description":"Minimum date filter (YYY-MM-DD)","required":false,"type":"string"},{"name":"maxDate","in":"query","description":"Maximum date filter (YYY-MM-DD)","required":false,"type":"string"},{"name":"atDate","in":"query","description":"Allows to get stats for fixed findings at a specific date (YYY-MM-DD). This filter has preference over minDate and maxDate.","required":false,"type":"string"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/StatsGetFixedIssuesStatsResponseBody"}}},"schemes":["https"]}},"/stats/issues":{"get":{"tags":["stats"],"summary":"Get issues stats stats","operationId":"stats#Get issues stats","parameters":[{"name":"minDate","in":"query","description":"Minimum date filter (YYY-MM-DD)","required":false,"type":"string"},{"name":"maxDate","in":"query","description":"Maximum date filter (YYY-MM-DD)","required":false,"type":"string"},{"name":"minScore","in":"query","description":"Minimum issues score filter","required":false,"type":"integer"},{"name":"maxScore","in":"query","description":"Maximum issues score filter","required":false,"type":"integer"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/StatsIssueStatsResponseCollection"}}},"schemes":["https"]}},"/stats/mttr":{"get":{"tags":["stats"],"summary":"Get stats MTTR stats","operationId":"stats#Get stats MTTR","parameters":[{"name":"tag","in":"query","description":"Target's tag filter","required":false,"type":"string"},{"name":"minDate","in":"query","description":"Minimum date filter (YYY-MM-DD)","required":false,"type":"string"},{"name":"maxDate","in":"query","description":"Maximum date filter (YYY-MM-DD)","required":false,"type":"string"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/StatsGetStatsMTTRResponseBody"}}},"schemes":["https"]}},"/stats/open":{"get":{"tags":["stats"],"summary":"Get open issues stats stats","description":"This method gets statistics for open findings by using different filters.\nWhen querying for a specific time range, it returns every finding that has been found in that time, regardless if that finding has also been fixed in that span of time.","operationId":"stats#Get open issues stats","parameters":[{"name":"tag","in":"query","description":"Target's tag filter","required":false,"type":"string"},{"name":"minDate","in":"query","description":"Minimum date filter (YYY-MM-DD)","required":false,"type":"string"},{"name":"maxDate","in":"query","description":"Maximum date filter (YYY-MM-DD)","required":false,"type":"string"},{"name":"atDate","in":"query","description":"Allows to get stats for open findings at a specific date (YYY-MM-DD). This filter has preference over minDate and maxDate.","required":false,"type":"string"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/StatsGetOpenIssuesStatsResponseBody"}}},"schemes":["https"]}},"/stats/size":{"get":{"tags":["stats"],"summary":"Get size stats stats","operationId":"stats#Get size stats","responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/StatsGetSizeStatsResponseBody"}}},"schemes":["https"]}},"/targets":{"get":{"tags":["targets"],"summary":"List targets targets","operationId":"targets#List targets","parameters":[{"name":"tag","in":"query","description":"Targets tag filter","required":false,"type":"string"},{"name":"identifier","in":"query","description":"Targets identifier filter","required":false,"type":"string"},{"name":"page","in":"query","description":"Number of page requested","required":false,"type":"integer"},{"name":"size","in":"query","description":"Number of results per page","required":false,"type":"integer"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/TargetsTargetResponseCollection"}}},"schemes":["https"]}},"/targets/summary":{"get":{"tags":["targets"],"summary":"Targets summary targets","operationId":"targets#Targets summary","parameters":[{"name":"tag","in":"query","description":"Targets tag filter","required":false,"type":"string"},{"name":"status","in":"query","description":"Finding status filter. Can be 'OPEN' or 'FIXED'.","required":false,"type":"string"},{"name":"sortBy","in":"query","description":"Sorting criteria. Supported fields: score, findings_count (use - for descending order. E.g.: -score)","required":false,"type":"string"},{"name":"page","in":"query","description":"Number of page requested","required":false,"type":"integer"},{"name":"size","in":"query","description":"Number of results per page","required":false,"type":"integer"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/TargetsTargetSummaryResponseCollection"}}},"schemes":["https"]}},"/targets/{id}":{"get":{"tags":["targets"],"summary":"Get target targets","operationId":"targets#Get target","parameters":[{"name":"id","in":"path","description":"Target ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/TargetsGetTargetResponseBody"}}},"schemes":["https"]}},"/targets/{id}/findings":{"get":{"tags":["targets"],"summary":"List findings by target targets","operationId":"targets#List findings by target","parameters":[{"name":"status","in":"query","description":"Finding status filter. Can be 'OPEN' or 'FIXED'.","required":false,"type":"string"},{"name":"sortBy","in":"query","description":"Sorting criteria. Supported fields: score, -score (for descending order)","required":false,"type":"string"},{"name":"page","in":"query","description":"Number of page requested","required":false,"type":"integer"},{"name":"size","in":"query","description":"Number of results per page","required":false,"type":"integer"},{"name":"id","in":"path","description":"Target ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/TargetsFindingResponseCollection"}}},"schemes":["https"]}},"/targets/{id}/mttr":{"get":{"tags":["targets"],"summary":"Get target MTTR targets","operationId":"targets#Get target MTTR","parameters":[{"name":"id","in":"path","description":"Target ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK response.","schema":{"type":"number","format":"float"}}},"schemes":["https"]}},"/targets/{target_id}/issues/{issue_id}":{"get":{"tags":["targets"],"summary":"List findings by target and issue targets","operationId":"targets#List findings by target and issue","parameters":[{"name":"target_id","in":"path","description":"Target ID","required":true,"type":"string"},{"name":"issue_id","in":"path","description":"Issue ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/TargetsListFindingsByTargetAndIssueResponseBody"}}},"schemes":["https"]}}},"definitions":{"EventResponse":{"title":"Mediatype identifier: event; view=default","type":"object","properties":{"finding_id":{"type":"string","description":"Finding ID","example":"97db1956-b15c-4b50-ae06-fd1e7be57963"},"id":{"type":"string","description":"Finding event ID","example":"9cf0b778-08cc-49f9-8d57-fa0a560f7522"},"score":{"type":"number","description":"Finding severity score","example":7,"format":"float"},"source_id":{"type":"string","description":"Source ID","example":"490eef40-b689-4bf4-bb38-c6a2d16545d1"},"time":{"type":"string","description":"Event time","example":"2019-06-08 11:16:40"}},"description":"EventResponse result type (default view)","example":{"finding_id":"97db1956-b15c-4b50-ae06-fd1e7be57963","id":"9cf0b778-08cc-49f9-8d57-fa0a560f7522","score":7,"source_id":"490eef40-b689-4bf4-bb38-c6a2d16545d1","time":"2019-06-08 11:16:40"}},"EventsEventResponseCollection":{"title":"Mediatype identifier: event; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/EventResponse"},"description":"List Finding EventsResponseBody is the result type for an array of EventResponse (default view)","example":[{"finding_id":"97db1956-b15c-4b50-ae06-fd1e7be57963","id":"9cf0b778-08cc-49f9-8d57-fa0a560f7522","score":7,"source_id":"490eef40-b689-4bf4-bb38-c6a2d16545d1","time":"2019-06-08 11:16:40"},{"finding_id":"97db1956-b15c-4b50-ae06-fd1e7be57963","id":"9cf0b778-08cc-49f9-8d57-fa0a560f7522","score":7,"source_id":"490eef40-b689-4bf4-bb38-c6a2d16545d1","time":"2019-06-08 11:16:40"},{"finding_id":"97db1956-b15c-4b50-ae06-fd1e7be57963","id":"9cf0b778-08cc-49f9-8d57-fa0a560f7522","score":7,"source_id":"490eef40-b689-4bf4-bb38-c6a2d16545d1","time":"2019-06-08 11:16:40"},{"finding_id":"97db1956-b15c-4b50-ae06-fd1e7be57963","id":"9cf0b778-08cc-49f9-8d57-fa0a560f7522","score":7,"source_id":"490eef40-b689-4bf4-bb38-c6a2d16545d1","time":"2019-06-08 11:16:40"}]},"FindingResponse":{"title":"Mediatype identifier: finding; view=default","type":"object","properties":{"details":{"type":"string","description":"Finding details","example":"TLSv1 is enabled and the server supports at least one cipher"},"id":{"type":"string","description":"Finding ID","example":"97db1956-b15c-4b50-ae06-fd1e7be57963"},"impact_details":{"type":"string","description":"Finding impact details","example":"The remote service encrypts traffic using an older version of TLS."},"issue":{"$ref":"#/definitions/IssueResponse"},"resources":{"type":"array","items":{"$ref":"#/definitions/ResourceGroupResponse"},"description":"Other resources associated with the finding","example":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}]},"score":{"type":"number","description":"Finding severity score","example":7,"format":"float"},"source":{"$ref":"#/definitions/SourcewithnotargetResponse"},"status":{"type":"string","description":"Finding status. Can be 'OPEN' or 'FIXED'.","example":"OPEN"},"target":{"$ref":"#/definitions/TargetResponse"}},"description":"FindingResponse result type (default view)","example":{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}}},"FindingsEventResponseCollection":{"title":"Mediatype identifier: event; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/EventResponse"},"description":"List Events By FindingResponseBody is the result type for an array of EventResponse (default view)","example":[{"finding_id":"97db1956-b15c-4b50-ae06-fd1e7be57963","id":"9cf0b778-08cc-49f9-8d57-fa0a560f7522","score":7,"source_id":"490eef40-b689-4bf4-bb38-c6a2d16545d1","time":"2019-06-08 11:16:40"},{"finding_id":"97db1956-b15c-4b50-ae06-fd1e7be57963","id":"9cf0b778-08cc-49f9-8d57-fa0a560f7522","score":7,"source_id":"490eef40-b689-4bf4-bb38-c6a2d16545d1","time":"2019-06-08 11:16:40"},{"finding_id":"97db1956-b15c-4b50-ae06-fd1e7be57963","id":"9cf0b778-08cc-49f9-8d57-fa0a560f7522","score":7,"source_id":"490eef40-b689-4bf4-bb38-c6a2d16545d1","time":"2019-06-08 11:16:40"}]},"FindingsFindingResponseCollection":{"title":"Mediatype identifier: finding; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/FindingResponse"},"description":"List FindingsResponseBody is the result type for an array of FindingResponse (default view)","example":[{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}}]},"FindingsGetFindingMTTRResponseBody":{"title":"Mediatype identifier: mttr; view=default","type":"object","properties":{"mttr":{"type":"integer","example":305,"format":"int64"}},"description":"Get Finding MTTRResponseBody result type (default view)","example":{"mttr":305}},"FindingsGetFindingResponseBody":{"title":"Mediatype identifier: finding; view=default","type":"object","properties":{"details":{"type":"string","description":"Finding details","example":"TLSv1 is enabled and the server supports at least one cipher"},"id":{"type":"string","description":"Finding ID","example":"97db1956-b15c-4b50-ae06-fd1e7be57963"},"impact_details":{"type":"string","description":"Finding impact details","example":"The remote service encrypts traffic using an older version of TLS."},"issue":{"$ref":"#/definitions/IssueResponseBody"},"resources":{"type":"array","items":{"$ref":"#/definitions/ResourceGroupResponseBody"},"description":"Other resources associated with the finding","example":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}]},"score":{"type":"number","description":"Finding severity score","example":7,"format":"float"},"source":{"$ref":"#/definitions/SourcewithnotargetResponseBody"},"status":{"type":"string","description":"Finding status. Can be 'OPEN' or 'FIXED'.","example":"OPEN"},"target":{"$ref":"#/definitions/TargetResponseBody"}},"description":"Get FindingResponseBody result type (default view)","example":{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}}},"IssueResponse":{"title":"Mediatype identifier: issue; view=default","type":"object","properties":{"cwe_id":{"type":"integer","description":"Common Weakness Enumeration ID","example":216,"format":"int64"},"description":{"type":"string","description":"Issue description","example":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits."},"id":{"type":"string","description":"Issue ID","example":"234ec73f-74c8-400f-be73-27dae8e5ff16"},"recommendations":{"type":"array","items":{"type":"string","example":"Sit cumque."},"description":"Recommendations to fix the issue","example":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."]},"reference_links":{"type":"array","items":{"type":"string","example":"Labore quisquam repellendus quisquam deserunt."},"description":"Documentation reference for the issue","example":["http://www.example.com"]},"summary":{"type":"string","description":"Issue summary","example":"TLS Version 1.0 Protocol Detection"}},"example":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"}},"IssueResponseBody":{"title":"Mediatype identifier: issue; view=default","type":"object","properties":{"cwe_id":{"type":"integer","description":"Common Weakness Enumeration ID","example":216,"format":"int64"},"description":{"type":"string","description":"Issue description","example":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits."},"id":{"type":"string","description":"Issue ID","example":"234ec73f-74c8-400f-be73-27dae8e5ff16"},"recommendations":{"type":"array","items":{"type":"string","example":"Dolorum totam ut ut unde autem."},"description":"Recommendations to fix the issue","example":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."]},"reference_links":{"type":"array","items":{"type":"string","example":"Iste in natus incidunt porro adipisci."},"description":"Documentation reference for the issue","example":["http://www.example.com"]},"summary":{"type":"string","description":"Issue summary","example":"TLS Version 1.0 Protocol Detection"}},"example":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"}},"IssueStatsResponse":{"title":"Mediatype identifier: issue_stats; view=default","type":"object","properties":{"cwe_id":{"type":"integer","description":"Common Weakness Enumeration ID","example":306480887643703624,"format":"int64"},"description":{"type":"string","description":"Issue description","example":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits."},"fixed":{"type":"integer","description":"Number of FIXED findings for this issue","example":3,"format":"int64"},"id":{"type":"string","description":"Issue ID","example":"234ec73f-74c8-400f-be73-27dae8e5ff16"},"open":{"type":"integer","description":"Number of OPEN findings for this issue","example":1,"format":"int64"},"recommendations":{"type":"array","items":{"type":"string","example":"Enim sapiente itaque fuga necessitatibus voluptates consequatur."},"description":"Recommendations to fix the issue","example":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."]},"reference_links":{"type":"array","items":{"type":"string","example":"Quaerat eaque ea unde non est qui."},"description":"Documentation reference for the issue","example":["http://www.example.com"]},"summary":{"type":"string","description":"Issue summary","example":"TLS Version 1.0 Protocol Detection"}},"description":"Issue_statsResponse result type (default view)","example":{"cwe_id":7133965055147506031,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","fixed":3,"id":"234ec73f-74c8-400f-be73-27dae8e5ff16","open":1,"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"}},"IssueSummaryResponse":{"title":"Mediatype identifier: issue_summary; view=default","type":"object","properties":{"issue_id":{"type":"string","description":"Issue ID","example":"234ec73f-74c8-400f-be73-27dae8e5ff16"},"max_score":{"type":"number","description":"Max score for issue","example":5,"format":"float"},"summary":{"type":"string","description":"Issue summary","example":"TLS Version 1.0 Protocol Detection"},"targets_count":{"type":"integer","description":"Number of affected targets for issue","example":14,"format":"int64"}},"description":"Issue_summaryResponse result type (default view)","example":{"issue_id":"234ec73f-74c8-400f-be73-27dae8e5ff16","max_score":5,"summary":"TLS Version 1.0 Protocol Detection","targets_count":14}},"IssuesFindingResponseCollection":{"title":"Mediatype identifier: finding; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/FindingResponse"},"description":"List Findings By IssueResponseBody is the result type for an array of FindingResponse (default view)","example":[{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}}]},"IssuesGetIssueResponseBody":{"title":"Mediatype identifier: issue; view=default","type":"object","properties":{"cwe_id":{"type":"integer","description":"Common Weakness Enumeration ID","example":216,"format":"int64"},"description":{"type":"string","description":"Issue description","example":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits."},"id":{"type":"string","description":"Issue ID","example":"234ec73f-74c8-400f-be73-27dae8e5ff16"},"recommendations":{"type":"array","items":{"type":"string","example":"Est quibusdam sunt et dolorem maiores."},"description":"Recommendations to fix the issue","example":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."]},"reference_links":{"type":"array","items":{"type":"string","example":"Distinctio rem."},"description":"Documentation reference for the issue","example":["http://www.example.com"]},"summary":{"type":"string","description":"Issue summary","example":"TLS Version 1.0 Protocol Detection"}},"description":"Get IssueResponseBody result type (default view)","example":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"}},"IssuesIssueResponseCollection":{"title":"Mediatype identifier: issue; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/IssueResponse"},"description":"List IssuesResponseBody is the result type for an array of IssueResponse (default view)","example":[{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"}]},"IssuesIssueSummaryResponseCollection":{"title":"Mediatype identifier: issue_summary; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/IssueSummaryResponse"},"description":"Issues SummaryResponseBody is the result type for an array of Issue_summaryResponse (default view)","example":[{"issue_id":"234ec73f-74c8-400f-be73-27dae8e5ff16","max_score":5,"summary":"TLS Version 1.0 Protocol Detection","targets_count":14},{"issue_id":"234ec73f-74c8-400f-be73-27dae8e5ff16","max_score":5,"summary":"TLS Version 1.0 Protocol Detection","targets_count":14},{"issue_id":"234ec73f-74c8-400f-be73-27dae8e5ff16","max_score":5,"summary":"TLS Version 1.0 Protocol Detection","targets_count":14},{"issue_id":"234ec73f-74c8-400f-be73-27dae8e5ff16","max_score":5,"summary":"TLS Version 1.0 Protocol Detection","targets_count":14}]},"IssuesListFindingsByIssueAndTargetResponseBody":{"title":"Mediatype identifier: finding; view=default","type":"object","properties":{"details":{"type":"string","description":"Finding details","example":"TLSv1 is enabled and the server supports at least one cipher"},"id":{"type":"string","description":"Finding ID","example":"97db1956-b15c-4b50-ae06-fd1e7be57963"},"impact_details":{"type":"string","description":"Finding impact details","example":"The remote service encrypts traffic using an older version of TLS."},"issue":{"$ref":"#/definitions/IssueResponseBody"},"resources":{"type":"array","items":{"$ref":"#/definitions/ResourceGroupResponseBody"},"description":"Other resources associated with the finding","example":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}]},"score":{"type":"number","description":"Finding severity score","example":7,"format":"float"},"source":{"$ref":"#/definitions/SourcewithnotargetResponseBody"},"status":{"type":"string","description":"Finding status. Can be 'OPEN' or 'FIXED'.","example":"OPEN"},"target":{"$ref":"#/definitions/TargetResponseBody"}},"description":"List Findings By Issue And TargetResponseBody result type (default view)","example":{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}}},"ResourceGroupResponse":{"title":"Mediatype identifier: resource_group; view=default","type":"object","properties":{"attributes":{"type":"array","items":{"type":"string","example":"Hic labore sed eos similique amet."},"description":"Column names of the resource group in the order that should be rendered","example":["Hostname","Port","Protocol","Service"]},"name":{"type":"string","description":"Name of the resource group","example":"Network Resources"},"resources":{"type":"array","items":{"type":"object","example":{"Aliquam est possimus dolorem ex neque quaerat.":"Sed ea aut commodi voluptates est voluptatem.","Praesentium mollitia ex fugiat quibusdam voluptatem excepturi.":"Neque sint omnis deserunt occaecati et.","Quia incidunt eveniet in.":"Modi dolorum explicabo non temporibus alias."},"additionalProperties":true},"description":"List containing the resource rows as hashmap","example":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}},"example":{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}},"ResourceGroupResponseBody":{"title":"Mediatype identifier: resource_group; view=default","type":"object","properties":{"attributes":{"type":"array","items":{"type":"string","example":"Eligendi cupiditate error qui ipsa."},"description":"Column names of the resource group in the order that should be rendered","example":["Hostname","Port","Protocol","Service"]},"name":{"type":"string","description":"Name of the resource group","example":"Network Resources"},"resources":{"type":"array","items":{"type":"object","example":{"Facilis aut qui sequi voluptatem.":"Omnis quisquam.","Vel laboriosam velit esse est voluptas.":"Laboriosam sunt."},"additionalProperties":true},"description":"List containing the resource rows as hashmap","example":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}},"example":{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}},"SourceResponse":{"title":"Mediatype identifier: source; view=default","type":"object","properties":{"component":{"type":"string","description":"Source component","example":"vulcan-tls"},"id":{"type":"string","description":"Source ID","example":"8502fa58-6066-4890-8039-6cd936885763"},"instance":{"type":"string","description":"Source instance","example":"6087cba3-fade-4fee-81ca-7459e87de098"},"name":{"type":"string","description":"Source name","example":"vulcan"},"options":{"type":"string","description":"Source options","example":"{\"timeout\":60}"},"target_id":{"type":"string","description":"Target ID","example":"Dolore culpa beatae impedit."},"time":{"type":"string","description":"Time on which the source scanned the target","example":"2019-06-08 11:16:40"}},"description":"SourceResponse result type (default view)","example":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","target_id":"Assumenda eligendi saepe ratione facilis quia quisquam.","time":"2019-06-08 11:16:40"}},"SourcesFindingResponseCollection":{"title":"Mediatype identifier: finding; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/FindingResponse"},"description":"List Findings By SourceResponseBody is the result type for an array of FindingResponse (default view)","example":[{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}}]},"SourcesGetSourceResponseBody":{"title":"Mediatype identifier: source; view=default","type":"object","properties":{"component":{"type":"string","description":"Source component","example":"vulcan-tls"},"id":{"type":"string","description":"Source ID","example":"8502fa58-6066-4890-8039-6cd936885763"},"instance":{"type":"string","description":"Source instance","example":"6087cba3-fade-4fee-81ca-7459e87de098"},"name":{"type":"string","description":"Source name","example":"vulcan"},"options":{"type":"string","description":"Source options","example":"{\"timeout\":60}"},"target_id":{"type":"string","description":"Target ID","example":"Voluptatem consectetur repellendus eos repudiandae."},"time":{"type":"string","description":"Time on which the source scanned the target","example":"2019-06-08 11:16:40"}},"description":"Get SourceResponseBody result type (default view)","example":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","target_id":"Quod dolore est impedit nihil hic ex.","time":"2019-06-08 11:16:40"}},"SourcesSourceResponseCollection":{"title":"Mediatype identifier: source; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/SourceResponse"},"description":"List SourcesResponseBody is the result type for an array of SourceResponse (default view)","example":[{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","target_id":"Unde ut soluta officia.","time":"2019-06-08 11:16:40"},{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","target_id":"Unde ut soluta officia.","time":"2019-06-08 11:16:40"}]},"SourcewithnotargetResponse":{"title":"Mediatype identifier: sourcewithnotarget; view=default","type":"object","properties":{"component":{"type":"string","description":"Source component","example":"vulcan-tls"},"id":{"type":"string","description":"Source ID","example":"8502fa58-6066-4890-8039-6cd936885763"},"instance":{"type":"string","description":"Source instance","example":"6087cba3-fade-4fee-81ca-7459e87de098"},"name":{"type":"string","description":"Source name","example":"vulcan"},"options":{"type":"string","description":"Source options","example":"{\"timeout\":60}"},"time":{"type":"string","description":"Time on which the source scanned the target","example":"2019-06-08 11:16:40"}},"example":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"}},"SourcewithnotargetResponseBody":{"title":"Mediatype identifier: sourcewithnotarget; view=default","type":"object","properties":{"component":{"type":"string","description":"Source component","example":"vulcan-tls"},"id":{"type":"string","description":"Source ID","example":"8502fa58-6066-4890-8039-6cd936885763"},"instance":{"type":"string","description":"Source instance","example":"6087cba3-fade-4fee-81ca-7459e87de098"},"name":{"type":"string","description":"Source name","example":"vulcan"},"options":{"type":"string","description":"Source options","example":"{\"timeout\":60}"},"time":{"type":"string","description":"Time on which the source scanned the target","example":"2019-06-08 11:16:40"}},"example":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"}},"StatsGetFixedIssuesStatsResponseBody":{"title":"Mediatype identifier: severity; view=default","type":"object","properties":{"critical":{"type":"integer","description":"Number of critial issues","example":5517674506107186184,"format":"int64"},"high":{"type":"integer","description":"Number of high issues","example":6630968393326461562,"format":"int64"},"informational":{"type":"integer","description":"Number of informational issues","example":8780299085855296257,"format":"int64"},"low":{"type":"integer","description":"Number of low issues","example":6680912362927638877,"format":"int64"},"medium":{"type":"integer","description":"Number of medium issues","example":2480868939411703966,"format":"int64"}},"description":"Get Fixed Issues StatsResponseBody result type (default view)","example":{"critical":7751783249754818748,"high":3814834160552350550,"informational":1786597663897154783,"low":8761814227497120275,"medium":7716690462371103103}},"StatsGetOpenIssuesStatsResponseBody":{"title":"Mediatype identifier: severity; view=default","type":"object","properties":{"critical":{"type":"integer","description":"Number of critial issues","example":3381332899661898524,"format":"int64"},"high":{"type":"integer","description":"Number of high issues","example":2156494963513071452,"format":"int64"},"informational":{"type":"integer","description":"Number of informational issues","example":5759130717276347417,"format":"int64"},"low":{"type":"integer","description":"Number of low issues","example":938519597341832946,"format":"int64"},"medium":{"type":"integer","description":"Number of medium issues","example":6053875236121399921,"format":"int64"}},"description":"Get Open Issues StatsResponseBody result type (default view)","example":{"critical":22807169289428122,"high":8737897804202284574,"informational":882659998578623067,"low":7985343195707701025,"medium":1353963824921076150}},"StatsGetSizeStatsResponseBody":{"title":"Mediatype identifier: size; view=default","type":"object","properties":{"finding_events":{"type":"integer","description":"Number of finding events","example":161401793329539639,"format":"int64"},"findings":{"type":"integer","description":"Number of findings","example":8763971824559114734,"format":"int64"},"issues":{"type":"integer","description":"Number of issues","example":4911167106634563094,"format":"int64"},"sources":{"type":"integer","description":"Number of sources","example":2751605909292914288,"format":"int64"},"targets":{"type":"integer","description":"Number of targets","example":2230720428843508002,"format":"int64"}},"description":"Get Size StatsResponseBody result type (default view)","example":{"finding_events":3017866541730596641,"findings":9097417359623703955,"issues":3218848602026777174,"sources":4255747686641156056,"targets":1182394432216876331}},"StatsGetStatsMTTRResponseBody":{"title":"Mediatype identifier: severity; view=default","type":"object","properties":{"critical":{"type":"integer","description":"Number of critial issues","example":1584462928010959794,"format":"int64"},"high":{"type":"integer","description":"Number of high issues","example":3884114836805421132,"format":"int64"},"informational":{"type":"integer","description":"Number of informational issues","example":7377935873200175196,"format":"int64"},"low":{"type":"integer","description":"Number of low issues","example":8260879364897248834,"format":"int64"},"medium":{"type":"integer","description":"Number of medium issues","example":8562051178677782202,"format":"int64"}},"description":"Get Stats MTTRResponseBody result type (default view)","example":{"critical":971726359274305415,"high":319830058764446759,"informational":3768999351605411973,"low":6908613103754367000,"medium":5113203770597575067}},"StatsIssueStatsResponseCollection":{"title":"Mediatype identifier: issue_stats; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/IssueStatsResponse"},"description":"Get Issues StatsResponseBody is the result type for an array of Issue_statsResponse (default view)","example":[{"cwe_id":1653551405680376285,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","fixed":3,"id":"234ec73f-74c8-400f-be73-27dae8e5ff16","open":1,"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},{"cwe_id":1653551405680376285,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","fixed":3,"id":"234ec73f-74c8-400f-be73-27dae8e5ff16","open":1,"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},{"cwe_id":1653551405680376285,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","fixed":3,"id":"234ec73f-74c8-400f-be73-27dae8e5ff16","open":1,"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},{"cwe_id":1653551405680376285,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","fixed":3,"id":"234ec73f-74c8-400f-be73-27dae8e5ff16","open":1,"recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"}]},"TargetResponse":{"title":"Mediatype identifier: target; view=default","type":"object","properties":{"id":{"type":"string","description":"Target ID","example":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a"},"identifier":{"type":"string","description":"Target identifier","example":"www.example.com"},"tags":{"type":"array","items":{"type":"string","example":"Odit omnis eos suscipit sapiente dolor."},"description":"List of tags associated with target","example":["sdrn:adevinta:team:security"]}},"example":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},"TargetResponseBody":{"title":"Mediatype identifier: target; view=default","type":"object","properties":{"id":{"type":"string","description":"Target ID","example":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a"},"identifier":{"type":"string","description":"Target identifier","example":"www.example.com"},"tags":{"type":"array","items":{"type":"string","example":"Doloribus sapiente accusantium eum consequatur odio voluptas."},"description":"List of tags associated with target","example":["sdrn:adevinta:team:security"]}},"example":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},"TargetSummaryResponse":{"title":"Mediatype identifier: target_summary; view=default","type":"object","properties":{"findings_count":{"type":"integer","description":"Number of findings for target","example":14,"format":"int64"},"identifier":{"type":"string","description":"Target identifier","example":"www.example.com"},"max_score":{"type":"number","description":"Max score for target","example":5,"format":"float"},"target_id":{"type":"string","description":"Target ID","example":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a"}},"description":"Target_summaryResponse result type (default view)","example":{"findings_count":14,"identifier":"www.example.com","max_score":5,"target_id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a"}},"TargetsFindingResponseCollection":{"title":"Mediatype identifier: finding; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/FindingResponse"},"description":"List Findings By TargetResponseBody is the result type for an array of FindingResponse (default view)","example":[{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}],"score":7,"source":{"component":"vulcan-tls","id":"8502fa58-6066-4890-8039-6cd936885763","instance":"6087cba3-fade-4fee-81ca-7459e87de098","name":"vulcan","options":"{\"timeout\":60}","time":"2019-06-08 11:16:40"},"status":"OPEN","target":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}}]},"TargetsGetTargetResponseBody":{"title":"Mediatype identifier: target; view=default","type":"object","properties":{"id":{"type":"string","description":"Target ID","example":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a"},"identifier":{"type":"string","description":"Target identifier","example":"www.example.com"},"tags":{"type":"array","items":{"type":"string","example":"Aut iusto."},"description":"List of tags associated with target","example":["sdrn:adevinta:team:security"]}},"description":"Get TargetResponseBody result type (default view)","example":{"id":"8d14bf4b-2cb1-43f2-9c23-f7985c63858a","identifier":"www.example.com","tags":["sdrn:adevinta:team:security"]}},"TargetsListFindingsByTargetAndIssueResponseBody":{"title":"Mediatype identifier: finding; view=default","type":"object","properties":{"details":{"type":"string","description":"Finding details","example":"TLSv1 is enabled and the server supports at least one cipher"},"id":{"type":"string","description":"Finding ID","example":"97db1956-b15c-4b50-ae06-fd1e7be57963"},"impact_details":{"type":"string","description":"Finding impact details","example":"The remote service encrypts traffic using an older version of TLS."},"issue":{"$ref":"#/definitions/IssueResponseBody"},"resources":{"type":"array","items":{"$ref":"#/definitions/ResourceGroupResponseBody"},"description":"Other resources associated with the finding","example":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]}]},"score":{"type":"number","description":"Finding severity score","example":7,"format":"float"},"source":{"$ref":"#/definitions/SourcewithnotargetResponseBody"},"status":{"type":"string","description":"Finding status. Can be 'OPEN' or 'FIXED'.","example":"OPEN"},"target":{"$ref":"#/definitions/TargetResponseBody"}},"description":"List Findings By Target And IssueResponseBody result type (default view)","example":{"details":"TLSv1 is enabled and the server supports at least one cipher","id":"97db1956-b15c-4b50-ae06-fd1e7be57963","impact_details":"The remote service encrypts traffic using an older version of TLS.","issue":{"cwe_id":216,"description":"The remote service accepts connections encrypted using TLS 1.0. TLS 1.0 has a\nnumber of cryptographic design flaws. Modern implementations of TLS 1.0\nmitigate these problems, but newer versions of TLS like 1.1 and 1.2 are\ndesigned against these flaws and should be used whenever possible.\n\nPCI DSS v3.2 requires that TLS 1.0 be disabled entirely by June 30,\n2018, except for POS POI terminals (and the SSL/TLS termination\npoints to which they connect) that can be verified as not being\nsusceptible to any known exploits.","id":"234ec73f-74c8-400f-be73-27dae8e5ff16","recommendations":["Enable support for TLS 1.1 and 1.2, and disable support for TLS 1.0."],"reference_links":["http://www.example.com"],"summary":"TLS Version 1.0 Protocol Detection"},"resources":[{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network Resources","resources":[{"Hostname":"adevinta.com","Port":"443","Protocol":"tcp","Service":"www"}]},{"attributes":["Hostname","Port","Protocol","Service"],"name":"Network
[...]
